@tailwind base;
@tailwind components;
@tailwind utilities;

/*font-family: 'Caveat', cursive;
font-family: 'Chivo Mono', monospace;
font-family: 'Concert One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Sigmar', cursive;*/